# macOS target, on a Linux or Windows host: Apple's SDK, which `xclang sdk
# fetch macos --accept-license` fetches into ../sdk; ../sdk/macos is the
# one in use. Without it clang warns of no such sysroot directory, and
# finds no C header. An -isysroot on the command line comes after this one
# and replaces it; SDKROOT, which clang reads only without one, does not.
-isysroot <CFGDIR>/../sdk/macos
