# Linux target: glibc from the sysroot next to this file, xclang's own
# runtimes, linked statically.
--sysroot=<CFGDIR>/../@TRIPLE@
-rtlib=compiler-rt
-unwindlib=libunwind
-stdlib=libc++
-static-libstdc++
-static-libgcc
-fuse-ld=lld
