# Windows target: mingw-w64 from the sysroot next to this file, xclang's own
# runtimes (static libraries only).
--sysroot=<CFGDIR>/../@TRIPLE@
-rtlib=compiler-rt
-unwindlib=libunwind
-stdlib=libc++
-fuse-ld=lld
